"*":
  "atom-beautify":
    general:
      _analyticsUserId: "94cb0113-9707-4a11-885c-de3747d7182d"
    typescript:
      beautify_on_save: true
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    telemetryConsent: "limited"
    themes: [
      "unity-ui"
      "glacier-syntax"
    ]
  editor:
    fontFamily: "Menlo"
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: false
    tabLength: 4
    tabType: "soft"
  "markdown-writer":
    fileExtension: ".md"
  minimap:
    plugins:
      codeglance: true
      codeglanceDecorationsZIndex: 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
    ]
  welcome:
    showOnStartup: false
".json.source":
  editor:
    tabLength: 2
".source.yaml":
  editor:
    tabLength: 2
